#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<!-- This is a partial, and is templated by AngularJS -->
<div>
    <h1>Bienvenido al Demo de Sistema de Gestion!</h1>

    <div>
        <p>Una aplicacion desarrollada con JavaEE y AngularJS consumiendo servicios REST.</p>
        <h3>La aplicacion puede correr en:</h3>
        <img src="gfx/wildfly-banner.png" />
    </div>

    <!-- Standard HTML form, with the submit function bound to the register() function defined in the the controller -->
    <form id="reg" ng-submit="register()">
        <h2>Registro de Participantes</h2>
        <fieldset>
            <legend>Registrar un participante:</legend>
            <!-- Each input is bound to a property on the prototype newMember object -->
            <div>
                <label for="name">Nombre:</label>
                <input type="text" name="name" id="name"  ng-model="newMember.name" placeholder="Su nombre" required autofocus/>
                <span class="error" ng-show="errors.name">{{errors.name}}</span>
            </div>
            <div>
                <label for="email">Correo:</label>
                <input type="email" name="email" id="email" ng-model="newMember.email" placeholder="Su correo" required/>
                <span class="error" ng-show="errors.email">{{errors.email}}</span>
            </div>
            <div>
                <label for="phoneNumber">Cel ${symbol_pound}:</label>
                <input type="tel" name="phoneNumber" id="phoneNumber" ng-model="newMember.phoneNumber" pattern="[0-9]{10,12}" placeholder="Su numero de telefono" required/>
                <span class="error" ng-show="errors.phoneNumber">{{errors.phoneNumber}}</span>
            </div>

            <!-- We output a list of success messages (appropriately styled!) for the form. -->
            <ul ng-hide="!successMessages" class="success">
                <li ng-repeat="message in successMessages">{{message}}</li>
            </ul>

            <!-- Output the list of error messages if any. -->
            <ul ng-hide="!errorMessages" class="error">
                <li ng-repeat="message in errorMessages">{{message}}</li>
            </ul>

            <!-- There are two buttons, the default submit action (which is bound for the whole form), and a reset button, that clears the form. -->
            <div>
                <input type="submit" id="register" value="Register" />
                <input type="button" ng-click="reset()" name="cancel"
                    id="cancel" value="Cancel" />
            </div>
        </fieldset>
    </form>

    <!-- A list of registered members -->
    <h2>Participantes</h2>
    <!-- If there are no members registered, instead of showing the table, we show a simple message. -->
    <em ng-show="members.length == 0">Ningun participante registrado.</em>
    <table ng-hide="members.length == 0" class="simpletablestyle">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Cel ${symbol_pound}</th>
                <th>REST URL</th>
            </tr>
        </thead>
        <!-- The table is built using the AngularJS repeat function, iterating over the members variable, and ordering by the property specified in the orderBy variable -->
        <tr ng-repeat="member in members | orderBy:orderBy">
            <td>{{member.id}}</td>
            <td>{{member.name}}</td>
            <td>{{member.email}}</td>
            <td>{{member.phoneNumber}}</td>
            <td><a href="rest/members/{{member.id}}">/rest/members/{{member.id}}</a>
            </td>
    </table>
    <div>
        REST URL para todos los participantes: <a href="rest/members">/rest/members</a>
    </div>
    <div>
        <!-- The table has a button to manually refresh the values, in case, for example, someone else adds a member -->
        <input type="button" ng-click="refresh()" name="refresh"
            id="refresh" value="Refresh" />
    </div>
</div>
